* {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: gray;
  width: 203px;
  height: 100vh;
  transition: transform 0.3s ease-in;
  position: absolute;
}

.main {
  /* background-color: yellow; */
  width: 93vw;
  height: 100vh;
}

.container {
  display: flex;
}

.sidebar nav {
  padding: 40px;
}

.sidebar nav li {
  list-style: none;
  font-size: 20px;
  padding: 33px 0px;
}
.sidebar nav li a {
  text-decoration: none;
  color: black;
}
.infocontainer {
  /* background-color: pink;  */
  height: fit-content;
  width: fit-content;
  margin: 200px auto;
  display: flex;
  position: absolute;
  left: 396px;
}
.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.buttons {
  margin-top: 34px;
}
.buttons button {
  margin-top: 34px;
  margin: 0px 3px;
  height: 40px;
  padding: 9px 14px;
  border-radius: 22px;
  color: white;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
}
.buttons button:hover {
  color: rgb(10, 5, 5);
  background-color: white;
}
.btn-sm {
  margin-top: 34px;
  margin: 0px 3px;
  height: 40px;
  padding: 9px 14px;
  border-radius: 22px;
  color: white;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
}
.btn-sm:hover {
  color: rgb(10, 5, 5);
  background-color: white;
}
.hello {
  justify-content: center;
  align-content: center;
  font-size: 55px;
}
.name {
  font-size: 38px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  font-weight: bold;
}
.about {
  font-size: 29px;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
.moreabout {
  font-size: 20px;
  margin-top: 23px;
}
.contactform {
  padding-top: 144px;
  padding: 0px 230px;
  margin-top: 112px;
}
.contactform h1 {
  text-align: center;
  margin-top: -120px;
  padding: 20px 20px;
  font-size: 45px;
}
.contactform div {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}
.contactform form div input {
  width: 23vw;
  border-radius: 5px;
  margin: 14px 54px;
  padding: 6px;
}
#emailHelp {
  font-size: 15px;
  margin: 0px 5px;
}
#form-group {
  flex-direction: row;
}
#form-check-input {
  width: 24px;
  margin: 3px 0px;
}
.AboutMecontainer {
  margin: 25px 202px;
}
.AboutMecontainer h1 {
  margin: 20px 348px;
  font-size: 29px;
}
.Intro1 {
  margin: 10px 2px;
}
.Intro1 p {
  margin: 20px 2px;
  font-size: 22px;
}
.Intro2 {
  margin: 20px 2px;
}
.Intro3 {
  margin: 32px 2px;
}
.Intro4 {
  margin: 45px 2px;
}

.Intro2 p {
  font-size: 22px;
}
.Intro3 p {
  font-size: 22px;
}
.Intro4 p {
  font-size: 22px;
}
.experiencecontainer {
  margin: 80px 175px;
}

.experiencecontainer h1 {
  margin: 30px 300px;
  font-size: 50px;
}
.experience1 p {
  font-size: 25px;
  margin: 20px 1px;
  text-align: left;
}
.experience2 {
  margin: 60px 0px;
}
.experience2 h2 {
  margin: 22px 2px;
  font-size: 35px;
}
.experience2 p {
  margin: 22px 2px;
  font-size: 25px;
  text-align: left;
}
.hamburger {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}
.cross {
  margin: 0px 165px;
}
.sidebarGo {
  position: absolute;
  transform: translate(-443px, 0px);
}
.form-group {
  font-size: 26px;
}
